In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import scipy
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

In [2]:
# Importing the tips dataset from the local file
df = pd.read_csv("diamonds_ideal.csv")

# view first 5 rows
df.head()

   price  carat  length  width  depth    cut
0    326   0.23    3.95   3.98   2.43  Ideal
1    340   0.23    3.93   3.90   2.46  Ideal
2    344   0.31    4.35   4.37   2.71  Ideal
3    348   0.30    4.31   4.34   2.68  Ideal
4    403   0.33    4.49   4.51   2.78  Ideal